/* Substring Matching Attribute Selectors ---- */

a[href^="http:"] {
    color: #52bab3;
    text-decoration: none;
}

a[href$=".pdf"] {
    background-image: url('../img/icn-pdf.svg');
}

a[href$=".jpg"] {
    background-image: url('../img/icn-picture.svg');
}

a[href$=".zip"] {
    background-image: url('../img/icn-zip.svg');
}


/* 3. Contains selector (the * character) */

a[href*="downloads"] {
    background-repeat: no-repeat;
    background-size: 18px 18px;
    padding-left: 25px;
}

img[src*="thumb"] {
    margin: 4px;
    border: solid 2px;
    width: 180px;
    height: 140px;
}

img[src*="bay"] {
    border-color: red;
}
